WebStoreClient/WebStoreFrontEnd/Service References/WebStoreService/WebStoreServices4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebStore.Entities.WCF.Products" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebStore.Entities.WCF.Products" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:33045/WebStoreServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WebStore.Entities.WCF" />
  <xs:complexType name="DTOProductsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:ArrayOfDTOProductsBody" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebStore.Entities.WCF" minOccurs="0" name="Result" nillable="true" type="q1:DTOResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOProductsResponse" nillable="true" type="tns:DTOProductsResponse" />
  <xs:complexType name="ArrayOfDTOProductsBody">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTOProductsBody" nillable="true" type="tns:DTOProductsBody" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTOProductsBody" nillable="true" type="tns:ArrayOfDTOProductsBody" />
  <xs:complexType name="DTOProductsBody">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOProductsBody" nillable="true" type="tns:DTOProductsBody" />
  <xs:complexType name="DTOPRoductsRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOPRoductsRequest" nillable="true" type="tns:DTOPRoductsRequest" />
</xs:schema>